@import url('base/Bubble.css');
@import url('base/Button.css');
@import url('base/Combobox.css');
@import url('base/Dropdown.css');
@import url('base/Popup.css');
@import url('base/TextBox.css');
@import url('Variables.css');

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: GoogleSans-Regular, sans-serif;
    font-size: 13px;
    color: var(--color-content-text);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-secondary);
    border-radius: 16px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-hightlight);
    border-radius: 16px;
}

h1 {
    margin: 0;
    font-size: 20px;
}

h2 {
    margin: 0;
    font-size: 15px;
}

p {
    margin: 0;
}

.misa-show {
    display: block;
}

.misa-hidden {
    display: none;
}

.misa-rotate180 {
    transform: rotateZ(180deg);
}

.misa-input--alert {
    border: 1px solid var(--color-alert);
}

@font-face {
    font-family: 'GoogleSans-Black';
    src: url('../assets/font/GoogleSans-Black.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-BlackItalic';
    src: url('../assets/font/GoogleSans-BlackItalic.otf') format('opentype'), url('../assets/font/GoogleSans-Bold.otf') format('opentype'), url('../assets/font/GoogleSans-BoldItalic.otf') format('opentype'), url('../assets/font/GoogleSans-Italic.otf') format('opentype'), url('../assets/font/GoogleSans-Light.otf') format('opentype'), url('../assets/font/GoogleSans-LightItalic.otf') format('opentype'), url('../assets/font/GoogleSans-Medium.otf') format('opentype'), url('../assets/font/GoogleSans-MediumItalic.otf') format('opentype'), url('../assets/font/GoogleSans-Regular.otf') format('opentype'), url('../assets/font/GoogleSans-Thin.otf') format('opentype'), url('../assets/font/GoogleSans-ThinItalic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Bold';
    src: url('../assets/font/GoogleSans-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-BoldItalic';
    src: url('../assets/font/GoogleSans-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Italic';
    src: url('../assets/font/GoogleSans-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Light';
    src: url('../assets/font/GoogleSans-Light.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-LightItalic';
    src: url('../assets/font/GoogleSans-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Medium';
    src: url('../assets/font/GoogleSans-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-MediumItalic';
    src: url('../assets/font/GoogleSans-MediumItalic.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Regular';
    src: url('../assets/font/GoogleSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-Thin';
    src: url('../assets/font/GoogleSans-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'GoogleSans-ThinItalic';
    src: url('../assets/font/GoogleSans-ThinItalic.otf') format('opentype');
}

.misa-toast__container {
    position: fixed;
    z-index: 20;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
}

.misa-toast {
    position: relative;
    width: auto;
    height: 48px;
    min-width: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 24px -8px rgba(0, 0, 0, 0.16);
    /*opacity: 0;*/
    /*visibility: hidden;*/
    transition: all 0.3s ease-in-out;
}

.misa-toast__title {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.misa-toast__icon--main {
    background-color: var(--color-info);
    color: var(--color-white);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.misa-toast.misa-404 .misa-toast__icon--main,
.misa-toast.misa-400 .misa-toast__icon--main,
.misa-toast.misa-500 .misa-toast__icon--main {
    background-color: var(--color-alert);
}

.misa-toast__close {
    font-size: 16px;
    color: var(--color-info);
}

.misa-toast.misa-404 .misa-toast__close,
.misa-toast.misa-400 .misa-toast__close,
.misa-toast.misa-500 .misa-toast__close {
    color: var(--color-alert);
}