@import url('../Variables.css');

.misa-button {
	width: auto;
	height: 40px;
	border-radius: 4px;
	padding: 0 16px;
	text-align: center;
	cursor: pointer;
	transition: 0.2s all ease-in-out;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 10px;
}

/*.misa-button__icon {*/
/*	padding: 0 16px;*/
/*	display: flex;*/
/*	align-items: center;*/
/*	justify-content: space-evenly;*/
/*}*/

.misa-button__icon {
	width: 24px;
	height: 24px;
}

/*.misa-button--primary.misa-button__icon .button__icon {*/
/*	display: flex;*/
/*	align-items: center;*/
/*	justify-content: space-evenly;*/
/*}*/

/*.misa-button--secondary.misa-button__icon .button__icon {*/
/*	width: 24px;*/
/*	height: 24px;*/
/*	background-image: url('../../assets/icon/refresh.png');*/
/*	background-position: center;*/
/*	background-size: cover;*/
/*	background-repeat: no-repeat;*/
/*}*/