.misa-button {
  width: auto;
  height: 40px;
  border-radius: 4px;
  padding: 0 16px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;

  &__icon {
    width: 24px;
    height: 24px;
  }
}