@import url('../Variables.css');

/*
Text căn trái
tiền căn phải
date căn giữa
*/

.misa-content__table-container {
    width: 100%;
    height: calc(100vh - 240px);
    margin-top: 16px;
    overflow: auto;
}

.misa-content__table {
    width: 100%;
    min-width: 1366px;
    text-align: left;
    font-weight: normal;
    position: relative;
    border-collapse: collapse;
}

    .misa-content__table .table__header th {
        position: sticky;
        top: 0;
        left: 0;
        background-color: var(--color-white);
        z-index: 6;
    }

    .misa-content__table tr {
        height: 40px;
        border-bottom: 1px solid var(--color-hightlight);
    }

    .misa-row--active {
        background-color: var(--color-hightlight);
    }

    .misa-content__table tbody tr {
        cursor: pointer;
    }

    .misa-content__table tbody tr:hover {
        background-color: var(--color-secondary-hover);
    }

/*#region checkbox*/
.misa-content__table .delete-box {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    overflow: hidden;
    border: 0.1px solid var(--color-hightlight);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.misa-content__table .delete-box input {
    position: absolute;
    opacity: 0;
    width: 24px;
    height: 24px;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
}

.misa-content__table .delete-box .misa-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: var(--color-secondary-hover);
}

.misa-content__table .delete-box:hover input ~ .misa-checkmark {
    background-color: var(--color-hightlight);
}

.misa-content__table .delete-box input:checked ~ .misa-checkmark {
    background-color: var(--color-primary);
}

.misa-content__table .delete-box .misa-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.misa-content__table .delete-box input:checked ~ .misa-checkmark:after {
    display: block;
}

.misa-content__table .delete-box .misa-checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*#endregion*/

/*#region chỉnh size của table*/
.misa-content__table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 24px;
}

.misa-content__table td:first-child,
.misa-content__table th:first-child{
    min-width: 80px;
    max-width: 100px;
    padding-left: 16px;
}

.misa-content__table td:nth-child(2) {
    min-width: 100px;
}

.misa-content__table td:nth-child(3) {
    min-width: 150px;
}

.misa-content__table td:nth-child(4) {
    min-width: 150px;
}

.misa-content__table td:nth-child(5) {
    min-width: 150px;
}

.misa-content__table td:nth-child(6) {
    min-width: 100px;
}

.misa-content__table td:nth-child(7) {
    min-width: 200px;
    max-width: 350px;
}

.misa-content__table td:nth-child(8) {
    min-width: 150px;
}

.misa-content__table td:nth-child(9) {
    min-width: 150px;
}

.misa-content__table td:nth-child(10) {
    min-width: 150px;
}

.misa-content__table td:last-child {
    min-width: 150px;
}

    .misa-content__table td:nth-child(10),
    .misa-content__table th:nth-child(10) {
        text-align: right;
        padding-right: 16px;
    }
/*#endregion*/

.misa-content__table tr:nth-child(odd) {
    background-color: rgba(229, 229, 229, 0.5);
}
