.misa-content {
	width: calc(100% - 226px);
	height: calc(100% - 49px);
	position: absolute;
	top: 49px;
	left: 226px;
	padding: 16px;
}

.misa-content .misa-content__header {
	width: 100%;
	display: flex;
	align-items: center;
}

.misa-content .misa-content__header .header__title {
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.misa-content .misa-content__header .button__icon {
	width: 24px;
	height: 24px;
	background-image: url('../../content/icon/add.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.misa-content .misa-content__search {
	margin-top: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.misa-content .misa-content__search .misa-content__search--left {
	display: flex;
	align-content: center;
}

.misa-content .misa-content__search .misa-content__search--left .misa-dropdown {
	margin: 0 12px;
}

.misa-content__table-container {
	width: 100%;
	height: calc(100vh - 240px);
	margin-top: 16px;
	overflow: auto;
}

.misa-content__table {
	width: 100%;
	text-align: left;
	font-weight: normal;
	position: relative;
}

.misa-content__table .table__header {
	position: sticky;
	top: 0;
	left: 0;
} 

.misa-content__table tr {
	height: 40px;
}