@import url('../variables.css');

.misa-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.misa-modal {
    width: 40%;
    height: 90vh;
    background-color: var(--color-white);
    border-radius: 4px;
    padding: 24px;
}

.misa-modal__header {
    text-transform: uppercase;
}

.misa-modal__content {
    margin-top: 24px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

    .misa-modal__content .misa-modal__img-picker {
        width: 30%;
    }

        .misa-modal__content .misa-modal__img-picker .img-picker__placeholder {
            width: 144px;
            height: 144px;
            border-radius: 50%;
            border: 1px solid var(--color-hightlight);
            background-image: url('../../content/img/default-avatar.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .misa-modal__content .misa-modal__img-picker .img-picker__text {
            width: 50%;
            text-align: center;
            font-size: 11px;
        }

    .misa-modal__content .misa-modal__form {
        width: 75%;
    }

        .misa-modal__content .misa-modal__form .misa-modal__info {
            margin-bottom: 24px;
        }

        .misa-modal__content .misa-modal__form .info__title {
            text-transform: uppercase;
        }

        .misa-modal__content .misa-modal__form .misa__divider {
            width: 80px;
            height: 5px;
            background-color: var(--color-primary);
            margin: 16px 0;
        }

        .misa-modal__content .misa-modal__form .misa-modal__fields {
            display: flex;
            align-items: start;
            justify-content: space-between;
            flex-wrap: wrap;
        }

            .misa-modal__content .misa-modal__form .misa-modal__fields .misa-modal__field {
                width: 49%;
                margin-bottom: 16px;
            }

                .misa-modal__content .misa-modal__form .misa-modal__fields .misa-modal__field.large {
                }

.misa-modal__form .misa-modal__field .misa-label-text {
    display: block;
}

.misa-modal__form .misa-modal__field input {
    width: 100%;
}

.misa__asterisk {
    color: var(--color-alert);
}
