@import url('../Variables.css');

.misa-header {
    width: 100%;
    height: 48px;
    display: flex;
}

    .misa-header .misa-header--left {
        width: 225px;
        height: 48px;
        border-right: 1px solid var(--color-hightlight);
        display: flex;
        align-items: center;
        transition: 0.2s all ease-in-out;
    }

.misa-header--left-shrink {
    width: 64px !important;
    justify-content: space-evenly;
}

        .misa-header .misa-header--left .header__toggle {
            width: 24px;
            height: 24px;
            margin: 12px 10px 12px 16px;
            background-image: url('../../assets/img/toggle.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .header__toggled {
            margin: 12px 16px 12px 16px !important;
        }

        .misa-header .misa-header--left .header__logo {
            height: 24px;
            width: 100%;
            background-image: url('../../assets/img/cukcuk-logo.png');
            background-size: contain;
            background-position: 0 center;
            background-repeat: no-repeat;
        }

    .misa-header .misa-header--right {
        width: calc(100% - 225px);
        padding: 0 16px;
        border-bottom: 1px solid var(--color-hightlight);
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.2s all ease-in-out;
    }

    .misa-header--right-extend {
        width: calc(100% - 64px) !important;
    }

        .misa-header .misa-header--right .header__title .misa-dropdown {
            width: auto;
        }

            .misa-header .misa-header--right .header__title .misa-dropdown .dropdown__button {
                border-color: transparent;
            }

                .misa-header .misa-header--right .header__title .misa-dropdown .dropdown__button:focus {
                    border-color: var(--color-primary);
                }

.header__title .dropdown__title {
    font-weight: bold;
    font-size: 15px;
}

.header__user {
    display: flex;
    align-items: center;
}

    .header__user .header__profile-picture,
    .header__user .header__icon {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .header__user .header__profile-picture {
        width: 32px;
        height: 32px;
        background-image: url('../../assets/icon/avatar-default.png');
        margin-right: 16px;
    }

    .header__user .header__icon {
        background-image: url('../../assets/icon/option.png');
        margin-left: 16px;
    }
