@import url('../variables.css');

.misa-button--primary,
.misa-button--secondary {
	width: auto;
	height: 40px;
	border-radius: 4px;
	padding: 0 24px;
	text-align: center;
	cursor: pointer;
	transition: 0.2s all ease-in-out;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.misa-button--primary {
	color: var(--color-white);
	background-color: var(--color-primary);
}

.misa-button--primary:hover {
	background-color: var(--color-primary-hover);
}

.misa-button--primary:active {
	background-color: var(--color-primary-active);
}

.misa-button--secondary {
	color: var(--color-black);
	background-color: transparent;
	border: 1px solid var(--color-hightlight);
}

.misa-button--secondary:hover {
	background-color: var(--color-secondary-hover);
}

.misa-button--secondary:active {
	background-color: var(--color-primary-active);
}

.misa-button__icon {
	padding: 0 16px;
	display: flex;
	align-items: center;
}

.misa-button--primary.misa-button__icon .button__icon {
	margin-right: 8px;
}

.misa-button--secondary.misa-button__icon .button__icon {
	width: 24px;
	height: 24px;
	background-image: url('../../content/icon/refresh.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}