@import url('../variables.css');

/*
Text căn trái
tiền căn phải
date căn giữa
*/

.misa-content__table-container {
    width: 100%;
    height: calc(100vh - 240px);
    margin-top: 16px;
    overflow: auto;
}

.misa-content__table {
    width: 100%;
    min-width: 1366px;
    text-align: left;
    font-weight: normal;
    position: relative;
    border-collapse: collapse;
}

    .misa-content__table .table__header th {
        position: sticky;
        top: 0;
        left: 0;
        background-color: var(--color-white);
    }

    .misa-content__table tr {
        height: 40px;
        border-bottom: 1px solid var(--color-hightlight);
    }

.misa-content__table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 16px;
}

.misa-content__table td:first-child {
    min-width: 100px;
}

.misa-content__table td:nth-child(2) {
    min-width: 150px;
}

.misa-content__table td:nth-child(3) {
    min-width: 150px;
}

.misa-content__table td:nth-child(4) {
    min-width: 100px;
}

.misa-content__table td:nth-child(5) {
    min-width: 150px;
}

.misa-content__table td:nth-child(6) {
    min-width: 200px;
    max-width: 300px;
}

.misa-content__table td:nth-child(7) {
    min-width: 150px;
}

.misa-content__table td:nth-child(8) {
    min-width: 150px;
}

.misa-content__table td:nth-child(9) {
    min-width: 150px;
}

.misa-content__table td:last-child {
    min-width: 150px;
}

    .misa-content__table td:nth-child(9),
    .misa-content__table th:nth-child(9) {
        text-align: right;
        padding-right: 16px;
    }

        .misa-content__table tr:nth-child(odd) {
            background-color: rgba(229, 229, 229, 0.5);
        }
