@import url('../variables.css');

.misa-text-box--default {
	height: 40px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #BBB;
	padding: 0 16px;
	outline: none;
	display: inline-block;
	transition: 0.2s all ease-in-out;
}

.misa-text-box--default:focus {
	border-color: var(--color-primary);
}